@charset "UTF-8";

body {
    display: grid;
    grid-template-rows: 100px auto 100px;
    height: 100vh;
}

/* header */
header {
    display: flex;
    justify-content: space-around;
    align-items: center;
}

#menu ul, #side ul {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-content: space-around;
    gap: 50px;
}

li a:hover {
    color: #ff3f4c;
}

form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: fit-content;
    margin: auto;
    width: fit-content;
}

/* index */
#visual {
    display: flex;
    justify-content: center;
}

/* join */
#join h2 {
	text-align: center;
}

#join table {
	margin: 20px auto;
	border: 2px solid #ff3f4c;
}

#join td > input {
	border: none;
}

#join th, td {
	padding: 5px 10px;
	text-align: center;
}

#join form {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	width: fit-content;
	margin: auto;
}

#join input[type="button"] {
	padding: 5px 10px;
	text-align: center;
	width: 100px;
	height: 50px;
	font-size: 20px;
	outline: none;
	border: 0;
	border-radius: 15px;
	background-color: #ff3f4c;
	color: white;
}

footer {
	margin-top: 50px;
}